.editor-wrapper {
    padding: 1rem;
    border: 1px solid #ccc;
}

.editor-content {
    min-height: 550px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
    padding: 1rem;
}

.toolbar-class {
    border: 1px solid #ccc;
    border-radius: 5px;
}