.data_management_menu {
    display: flex;
    list-style: none;
    padding: 0.6em 0 0 0;
}

.data_management_menu>input[type="radio"] {
    display: none;
    width: 0;
}

.data_management_menu>input[type="radio"]:checked+label {
    background: white;
    color: #000000;
    cursor: default;
    text-shadow: 1px 1px 1px #555555;
    font-size: 18px;
}

.data_management_menu>input[type="radio"]:checked+label img {
    width: auto;
    height: 30px;
    background-color: #6c5ce7;
    border: 1px solid black;
    box-shadow: 0 1px 1px 1px #000;
    transition: 0.5s linear all;
}

.data_management_menu>label {
    display: flex;
    box-sizing: border-box;
    height: 50px;
    width: calc(3.5 * 100px);
    line-height: 50px;
    padding: 0 5em;
    margin: 1px;
    transition: 0.5s linear all;
    background: #CCCCCC;
    color: #333333;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    align-items: center;
}

.data_management_menu>label:not(.category) {
    clip-path: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.data_management_menu>label:not(.category) {
    transform: translateX(-5%);
}

.data_management_menu>label.episodes {
    transform: translateX(-10%);
}

.data_management_menu>label:active,
.data_management_menu>label:active {
    background: white;
    color: #000000;
}

.data_management_menu>label>span {
    height: 50px;
    width: 50px;
}

.data_management_menu>label>img {
    width: auto;
    height: 25px;
    margin: 0px 15px;
    border-radius: 5px;
    padding: 3px;
    background-color: transparent;
    box-shadow: 0 1px 2px 1px #000;
}

.category {
    display: inline-block;
    clip-path: polygon(10% 0%, 0% 100%, 0% 500%, 95% 500%, 95% 100%, 100% 50%, 95% 0%);
    shape-outside: polygon(10% 0%, 0% 100%, 95% 100%, 100% 50%, 95% 0%);
}

.data_management_show {
    min-width: 100%;
    height: calc(100vh - 140px);
    background-color: white;
}

.form_category {
    display: block;
    position: absolute;
    top: 15%;
    right: 2%;
    background-color: transparent;
    width: 550px;
    height: calc(100vh - 155px);
    align-items: center;
}


.flex {
    width: 100%;
    height: auto;
    padding: 10px 10px;

}

.flex h2 {
    width: 100%;
    text-align: center;
    color: #000;
}


.submit {
    display: block;
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 16px;
    transform: .3s ease;
    width: 50%;
    margin: 15px 50px 0 130px;
}

.submit:hover {
    background-color: rgb(99 54 199);
}

@keyframes pulse {
    from {
        transform: scale(0.9);
        opacity: 1;
    }

    to {
        transform: scale(1.8);
        opacity: 0;
    }
}

// button add ////

// .btn_add {
//     border: none;
//     display: flex;
//     padding: 0.75rem 0.75rem;
//     background-color: #488aec;
//     color: #ffffff;
//     font-size: 0.75rem;
//     line-height: 1rem;
//     font-weight: 700;
//     text-align: center;
//     text-transform: uppercase;
//     vertical-align: middle;
//     align-items: center;
//     border-radius: 0.5rem;
//     gap: 0.75rem;
//     box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
//     transition: all .6s ease;
//     position: fixed;
//     top: 15%;
//     right: 5px;
//     z-index: 5;
    
// }

// .btn_add:hover {
//     box-shadow: 0 10px 15px -3px #488aec4f, 0 4px 6px -2px #488aec17;
// }

// .btn_add:focus,
// .btn_add:active {
//     opacity: .85;
//     box-shadow: none;
// }

.btn_add img {
    width: 100%;
    height: 100%;
}

.btn_add {
    border: none;
    outline: none;
    background-color: #6c5ce7;
    padding: 5px 10px;
    color: #fff;
    border-radius: 5px;
    transition: all ease 0.1s;
    box-shadow: 0px 5px 0px 0px #a29bfe;
    position: fixed;
    top: 15%;
    right: 5px;
    z-index: 5;
  }
  
  .btn_add:active {
    transform: translateY(5px);
    box-shadow: 0px 0px 0px 0px #a29bfe;
    opacity: .85;
  }